*{
  outline: none;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

header {
  width: 30%;
  box-shadow: 5px 0 10px rgba(0,0,0,0.5);
  position: fixed;
  height: 100vh;
  padding: 20px 25px;
  box-sizing: border-box;
}

header img {
  max-width: 100%;
  margin: 10px auto 20px;
}

a{
  color: #8dc540;
  text-decoration: none;
  display: block;
}
a:hover,
a.active{
  text-decoration: underline;
}

main {
  display: flex;
  margin-left: 30%;
  width: 70%;
  flex-basis: 70%;
  padding: 10px 25px;
  box-sizing: border-box;
}

.form {
  width: 100%;
  margin-bottom: 200px;
}

.form div {
  margin-bottom: 25px;
}

.form div label, .form div input {
  display: block;
  margin-bottom: 10px;
}

.form input{
  padding: 10px 15px;
  width: 100%;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 60px;
  line-height: 20px;
  outline: none;
}

.form button{
  display: inline-block;
  min-width: 150px;
  max-width: 100%;
  padding: 13px 23px;
  background-color: #8dc540;
  border: 2px solid transparent;
  border-radius: 60px;
  color: #fff;
  font-size: .875rem;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.form button:hover{
  transform: scale(1.1,1.1);
}

#iframe-container iframe{
  height: 300px;
  width: 1024px;
  max-width: 100%;
  border: none;
}

pre{
  white-space: pre-wrap;
}
